version: "3.9"

services:

  backend:
    build: .
    container_name: analytics-backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_BACKEND: rpc://
      CLICKHOUSE_HOST: clickhouse
      CLICKHOUSE_PORT: 8123
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: ""
    depends_on:
      clickhouse:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  worker:
    build: .
    container_name: analytics-worker
    command: celery -A backend.celery_app.celery worker --loglevel=info
    restart: always
    environment:
      CELERY_BROKER_URL: amqp://guest:guest@rabbitmq:5672//
      CELERY_BACKEND: rpc://
      CLICKHOUSE_HOST: clickhouse
      CLICKHOUSE_PORT: 8123
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: ""
    depends_on:
      clickhouse:
        condition: service_healthy
      rabbitmq:
        condition: service_started

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  clickhouse:
    image: clickhouse/clickhouse-server
    container_name: clickhouse
    restart: always
    ports:
      - "8123:8123"    # HTTP interface
      - "9000:9000"    # Native TCP interface
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: ""
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "clickhouse-client", "--query", "SELECT 1"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 10s
